/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* 1st Section  */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #2D25A0;
    display: flex;
}
.top-part{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-banner h1{
    margin-bottom: 10px;
}
.copa-banner{
    padding-left: 156px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 30px;
}
button {
  background-color: #E02C6D; 
  width: 168px;
  height: 44px;
  margin-left: 156px;
  
  
}
.live{
    width: 88px;
    height: 24px;
    color: aliceblue;
    padding: 10px;
    margin: 0px 8px;
    font-size: 12px;
}

button:hover{
    border: 5px solid rgba(54, 231, 122, 0.863);
    
}
button a{
    text-decoration: none;
}
.banner-logo{
    padding: 10px;

}
.banner-logo img{
    width: 555px;
    height: 438px;
}
/* 2nd section */
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15)
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    align-items: center;
}


.players, .player-name{
    align-items: flex-start;
    color: #18191F;
    font-size: 28px;
    
}
.players img{
    width: 300px;
    height: 256px;
    margin: 16px;
    
}

.player-detail{
    color: #6C6C6C;
    font-size: 16px;
    padding: 0px 20px 20px;
}
/* 3rd section */



/* Footer section */
.footer-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
